<section class="page-header">
  <h2>Boutiques</h2>
  <p>Parcourez les boutiques et decouvrez leurs articles.</p>
</section>

<div class="shop-filter">
  <label>
    Filtrer par categorie
    <input
      type="text"
      placeholder="Ex: Mode, Electronique"
      [(ngModel)]="categoryFilter"
      name="categoryFilter"
    />
  </label>
</div>

<div class="shop-grid">
  @for (boutique of boutiques(); track boutique._id) {
    <!-- <a class="shop-card" [routerLink]="[boutique._id]"> -->
    <a class="shop-card" (click)="goToBoutique(boutique)">
      <div class="shop-image">
        <!-- @if (boutique.imageUrl) {
          <img [src]="boutique.imageUrl" [alt]="boutique.name" />
        } @else {
          <span>{{ boutique.name.charAt(0) }}</span>
        } -->
        <span>{{ boutique.nom_boutique.charAt(0) }}</span>
      </div>
      <div>
        <h3>{{ boutique.nom_boutique }}</h3>
        <p class="category">{{ boutique.categories }}</p>
        <p class="location">Etage: {{ boutique.etage }}</p>
        <p class="description">{{ boutique.lien_site_web }}</p>
      </div>
    </a>
  }
</div>
